

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #938c8c, #222121 , #222121);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
 
}

h1 {
  text-align: center;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}

.icono {
  height: 50px;
  margin-right: 10px;
}

header {
  /* position: fixed; */
  /* top: 0; */
  background-image: linear-gradient(to right, #8c938d, #3e413e , #212221);
  z-index: 1000;
  padding: 10px 0;
  width: 100%;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.menu-container2 ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-left: 300px;
}

.menu-container2 a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 1s;
}

.menu-container2 a:hover {
  color: #21c321;
}

h1:hover {
  transition: color 5s;
  color: #21c321;
}



.carousel {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  /* margin-top: 99px; */
}

.carousel-images img {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.carousel-images {
  display: flex;
  /* will-change: transform; */
  animation: slide 25s linear infinite;
  height: 100%;
  width: 100%;
}

.carousel:hover .carousel-images {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/*Tarjetas*/
.contenedor {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

#tarjeta2 {
  flex-direction: row-reverse;
}

.tarjeta:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tarjeta-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 50%;
  padding: 20px;
  text-align: left;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.card-content p {
  margin: 0;
  color: #666;
  font-size: 1rem;
}


/*footer*/


footer {
  background-image: linear-gradient(to right, #212221, #3e413e , #8c938d);
  color: #fff;
  text-align: center;
  width: 100%;
  height: 50px;
}

footer p {
  margin: 0;
  padding: 10px;
}


/*3d*/

.cube-container {
  perspective: 1000px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.cube {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.caras{
  position: absolute;
  width: 150px;
  height: 150px;
  /* background: rgba(6, 170, 36, 0.9); */
  border: 2px solid #70c75b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cube-container:hover .cube {
  animation-play-state: paused;
}

/* Posiciones de las caras */
#cara1 {
  transform: rotateY(0deg) translateZ(75px);
  background-image: url('/imagenes/js.png');
  background-size: cover;
  background-color: #efc313c2;
}
#cara2 {
  transform: rotateY(180deg) translateZ(75px);
  
}
#cara3 {
  transform: rotateY(-90deg) translateZ(75px);
}
#cara4 {
  transform: rotateY(90deg) translateZ(75px);
}
#cara5 {
  transform: rotateX(90deg) translateZ(75px);
}
#cara6 {
  transform: rotateX(-90deg) translateZ(75px);
}

/* Animación */
@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}